# files
.vscode
.env
.env.local
package-lock.json
yarn.lock
eslint.config
pnpm-lock.yaml
*.log
*.pid
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.sqlite

dist
lib
test
coverage
dev.db

# folders
dist
lib
test
coverage
build
node_modules
node_modules
logs
prisma/migrations
.prisma
src/modules
src/config